@use "../node_modules/bootstrap/scss/bootstrap";
@use '../scss/partials/variables' as*;
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Merriweather&family=Metal&family=Roboto:wght@600&display=swap');


/* 
font-family: 'Antonio', sans-serif;  titoli
font-family: 'Merriweather', serif; paragrafi
font-family: 'Metal', cursive; sezioni
font-family: 'Roboto', sans-serif; slogan-bottoni
*/
img {
    max-width: 100%;
}

h1 {
    font-family: 'Antonio', sans-serif;
    color: $light;
    font-size: 60px;
    line-height: 1.7;
}

button,
.slogan {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
    line-height: 1.9;
}

.slogan {
    font-size: 14px;
}